<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Titulo</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in taskList.tasks track by $index">
                <td>{{$index}}</td>
                <td>{{task.taskName}}</td>
                <td>{{task.description}}</td>
            </tr>
        </tbody>
    </table> 
</div>
